* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
}

#titulo, #subtitulo {
    font-family: sans-serif;
    color: #380B61;
    text-align: center;
}

#subtitulo {
    padding-bottom: 4rem;
}

form {
    margin: auto;
    width: 90%;
}

.first-group {
    gap: 1rem;
    padding-bottom: 2rem;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo input {
    width: 80%;
}

.error-msg {
    color: red;
    margin-top: .5rem;
}

fieldset, .second-group, .third-group{
    border: none;
    display: flex;
    flex-direction: column;
}

.second-group {
    gap: .5rem;
    padding-bottom: 1rem;
}

.third-group {
    padding-bottom: 2rem;
    gap: 1rem;
}

#senioridade {
    width: 50%;
    padding-block: .5rem;
}

#check {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.forth-group {
    padding-bottom: 3rem;
}

input, select, button{
    border-radius: 5px;
}

#experiencia {
    width: 80%;
    border-radius: 5px;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus .campo select:focus, .campo textarea:focus {
background: #E0E0F8;
}

.fifth-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-block: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 30vw;
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

@media screen and (min-width: 1200px) {
    .campo input {
        width: 60%;
        padding-block: .5rem;
    }

    #experiencia {
        width: 60%;
    }

    .botao {
        margin-left: 40vw;
    }
}